<div class="editable">
  <div #editableDiv class="main" (click)="focusOnLastSpan()">
    <ng-container *ngFor="let item of data; let itemIndex = index">
      <span
        *ngIf="item.type === 'text'; else chip"
        contenteditable="true"
        (input)="setCursorIndex(itemIndex)"
        (blur)="onInputChange($event, itemIndex)"
        (click)="setCursorIndex(itemIndex); $event.stopPropagation()"
      >
        {{ item.value }}
      </span>
      <ng-template #chip>
        <mat-chip
          contenteditable="false"
          (click)="setCursorIndex(itemIndex + 1, true)"
        >
          {{ item.value }}
          <mat-icon matChipRemove (click)="removeChip(itemIndex)">
            cancel</mat-icon
          >
        </mat-chip></ng-template
      >
    </ng-container>
  </div>
</div>

<mat-menu #menu="matMenu">
  <button
    mat-menu-item
    *ngFor="let option of variableData"
    (click)="onOptionSelect(option.name)"
  >
    {{ option.name }}
  </button>
</mat-menu>

<span>Value: {{ value }}</span>
<br />
<span>Data: {{ data | json }}</span>
<br />
<span>Cursor: {{ cursorIndex }}</span>
<br />

<button mat-raised-button [matMenuTriggerFor]="menu">Add variable</button>

<mat-chip-list> </mat-chip-list>
