<div class="editable">
  <div
    #editableDiv
    class="main"
    contenteditable="true"
    (input)="setCursorIndex(lineIndex, textIndex)"
    (blur)="onBlur($event)"
    (click)="onClickOutsideText()"
    (keydown.enter)="$event.preventDefault()"
  >
    <ng-container *ngFor="let line of data; let lineIndex = index">
      <div class="line">
        <ng-container *ngFor="let item of line; let itemIndex = index">
          <span
            (click)="
              setCursorIndex(lineIndex, itemIndex); $event.stopPropagation()
            "
            *ngIf="item.type === 'text'; else chip"
          >
            {{ item.value }}
          </span>
          <ng-template #chip>
            <mat-chip
              contenteditable="false"
              (click)="setCursorIndex(lineIndex, itemIndex + 1, true)"
            >
              {{ item.value }}
              <mat-icon
                matChipRemove
                (click)="removeChip(lineIndex, itemIndex)"
              >
                cancel</mat-icon
              >
            </mat-chip></ng-template
          >
        </ng-container>
      </div>
    </ng-container>
  </div>
</div>

<mat-menu #menu="matMenu">
  <button
    mat-menu-item
    *ngFor="let option of variableData"
    (click)="onOptionSelect(option.name)"
  >
    {{ option.name }}
  </button>
</mat-menu>

<span>Value: {{ value }}</span>
<br />
<span>Data: {{ data | json }}</span>
<br />
<span>Cursor: {{ caretIndex }}</span>
<br />
<span
  >Index: {{ textIndex }}, {{ lineIndex }},
  {{ totalLengthTillBeginningOfText }}</span
>
<br />

<button mat-raised-button [matMenuTriggerFor]="menu">Add variable</button>

<mat-chip-list> </mat-chip-list>
