<div class="test" contenteditable="true" (keyup)="onKeyUp($event)" (input)="whatIsThis($event)">
  <div class="main">
    <ng-container *ngFor="let item of data">
      <mat-chip *ngIf="item.type === 'chip'" [appElementTextContent]="item.value" contenteditable="false"
        spellcheck="false">
        {{item.value}}
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
      <span [appElementTextContent]="item.value" *ngIf="item.type === 'text'">{{item.value}}</span>
    </ng-container>
  </div>

  <div class="end" spellcheck="false" contenteditable="false">
    <mat-divider [vertical]="true"></mat-divider>

    <button mat-icon-button [matMenuTriggerFor]="menu" class="more-button">
      <mat-icon>expand_more</mat-icon>
    </button>
  </div>
</div>
<mat-menu #menu="matMenu">
  <button mat-menu-item *ngFor="let option of autcompleteData" (click)="onOptionSelect(option)">{{option}}</button>
</mat-menu>

Output: {{value}}



<mat-chip-list>
</mat-chip-list>