<mat-form-field>
  <mat-label>Autoname</mat-label>
  <input #input type="text" autocomplete="off" matInput placeholder="Invoice#..." (keyup)="onKeyUp($event.key, $event.target.value, input)" (change)="onChange($event)" [(ngModel)]="value">

  <div matSuffix>
    <mat-divider [vertical]="true"></mat-divider>

    <button mat-icon-button [matMenuTriggerFor]="menu" class="more-button">
      <mat-icon>expand_more</mat-icon>
    </button>
  </div>
</mat-form-field>

<mat-menu #menu="matMenu">
  <button mat-menu-item *ngFor="let option of autcompleteData" (click)="onOptionSelect(option)">{{option}}</button>
</mat-menu>

Output: {{value}}



<mat-chip-list>
</mat-chip-list>